body
{
	position: relative;
	background-color: black;
	color:white;
	font-size: 18pt;
	font-family: monospace;

	height:100vh;
	margin:0% 10%;
}

#cursor
{
	background-color: white;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-name: cursor-blink;
}

@keyframes cursor-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#main
{
	position: fixed;
	width:80%;
	height:150px;
	z-index: 1;
	background-color: black;
}

#main-content
{
	position: absolute;
	padding-bottom: 10px;
	border-bottom: 1px solid #444;
	margin-bottom: 10px;
	bottom:0px;
	width:100%;
}

#images
{
	position: relative;
	top:150px;
	width:100%;
	min-height: calc(100% - 150px);
	line-height: 0px;
}

#images img
{
	width: auto;
	height: 200px;
}

#images img.loading
{
	height:32px;
	padding: 84px; /* 100 - 16 */
	background-color:#333;
}

#samples
{
	position: absolute;
	line-height: 1; /* since this was set to zero for the image spacing*/
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#samples li
{
	font-size: 10pt;
	padding: 10px;
	margin-bottom: 10px;
	border:1px solid #444;
	border-radius: 5px;
	cursor: pointer;
}

#samples li:hover
{
	border-color: white;
}
