body
{
	position: relative;
	background-color: black;
	color:white;
	font-size: 18pt;
	font-family: monospace;

	height:100vh;
	margin:0% 20%;
}

#cursor
{
	background-color: white;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-name: cursor-blink;
}

@keyframes cursor-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#main
{
	position: relative;
	height:30%;
	border:1px solid red;
}

#main-content
{
	position: absolute;
	bottom:0px;
	width:100%;
	border:1px solid yellow;
}

#images img
{
	width: auto;
	height: 200px;
}

#images img.loading
{
	height:32px;
	padding: 84px; /* 100 - 16 */
	background-color:#333;
}
