body
{
	position: relative;
	background-color: black;
	color:white;
	font-size: 18pt;
	font-family: monospace;
	margin-top:200px;
}

#cursor
{
	background-color: white;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-name: cursor-blink;
}

@keyframes cursor-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#main, #images
{
	position: absolute;
	white-space: nowrap;
	right:20%;
	min-width:60%;
}

#images
{
	padding-top:50px;
}
